<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">
		<p class="panel-title"><%= @post.title %></p>
		<%= @post.user.username %> <em> Published at: <%= @post.created_at.strftime('%d %b %Y at %I:%M %p') %></em>
	</div>

	<div class="panel-body">
		
		<h4><%= @post.user.username %></h4>
		 <% @post.images.each do |image| %>
		 	<%= image_tag image.url %>
		 <% end %>
		<%= @post.blog_entry %>
	</div>

	
	<div class="panel-footer">
		<% if user_signed_in? %>
		<button class="btn btn-warning"><%= link_to 'Edit', edit_post_path(@post) %></button>
		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div id="comments">
			<%= render'comments/form', comment: @comment %>
			<% @post.comments.each do |comment| %>
				<div class="well"
					<p><strong><%= comment.user.username %></strong> said: <br/>
					</strong> said at <%= comment.created_at.strftime('%d %b %Y at %I:%M %p') %>:</p>
					<p><%= comment.comment_entry %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>